<div>
	<%= form_tag do %>
	<div>
		<%= label_tag :name, 'Name:' %>
		<%= text_field_tag :name, params[:name] %>
	</div>
	<div>
		<%= label_tag :password, 'Password:' %>
		<%= text_field_tag :password, params[:password] %>
	</div>
	<div>
		<%= submit_tag "Login", id: "login" %>
	</div>
	<% end %>
</div>
