<h1> <%= t("task.list") %> </h1>

<p><%= link_to "中文版", :controller => "tasks", :action => "index", :locale => "zh-TW" %></p>
<p><%= link_to "English", :controller => "tasks", :action => "index", :locale => "en" %></p>

</br>
<%= link_to t("new_task"), new_task_path%>

</br>
<div>
    <%= form_tag("/tasks", method: "get") do %>
        <%= label_tag(:search, t("search_for") ) %>
        <%= text_field_tag(:search) %>
        <%= submit_tag( t("submit"), :id=>"send_search" )%>
    <% end %>
</div>

</br>
<div>
    <%= link_to ('<button>'+t("task.all")+'</button>').html_safe, tasks_path(status:nil), id: "all"%>
    <%= link_to ('<button>'+t("task.waiting")+'</button>').html_safe, tasks_path(status:"0"), id: "waiting"%>
    <%= link_to ('<button>'+t("task.processing")+'</button>').html_safe, tasks_path(status:"1"), id: "processing"%>
    <%= link_to ('<button>'+t("task.done")+'</button>').html_safe, tasks_path(status:"2"), id: "done"%>
</div>

<table>
    <thead>
        <tr>
            <td> <%= t("task.title") %> </td>
            <td> <%= t("task.content") %> </td>
            <td> <%= t("task.end_time") %> </td>
            <td> <%=t("task.extra") %> </td>
        </tr>
    </thead>
    <tbody>
        <% @tasks.each do |task| %>
        <tr>
            <td><%= task.title %></td>
            <td><%= task.content %></td>
            <td><%= task.end_time %></td>
            <td>
            <%= link_to t("edit_task"),edit_task_path(task)%>
            <%= link_to t("delete_task"),task_path(task), method:"delete", data: {confirm:t("delete_confirm")} %>
            </td>
        </tr>
        <% end %>
    </tbody>
</table>
